
*{

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Papyrus,fantasy;

}

.header{

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 8%; 
    background-color: seagreen;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;

}

.logo{

    font-size: 28px;
    color: aqua;
    font-weight: 900;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.navbar a{

    font-size: 18px;
    color: white;
    font-weight: 500;
    margin: 0 20px;
    transition: .3s;

}

.navbar :hover{

    color: blue;

}